.article-container {
  margin-top: 1rem;
  color: #c9d1d9;
  font-size: 1.125rem;
  line-height: 1.75rem;
  word-wrap: break-word;
}
.article-container * {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.article-container .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.article-container h1:hover .anchor .octicon-link:before,
.article-container h2:hover .anchor .octicon-link:before,
.article-container h3:hover .anchor .octicon-link:before,
.article-container h4:hover .anchor .octicon-link:before,
.article-container h5:hover .anchor .octicon-link:before,
.article-container h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.article-container details,
.article-container figcaption,
.article-container figure {
  display: block;
}

.article-container summary {
  display: list-item;
}

.article-container [hidden] {
  display: none !important;
}

.article-container a {
  background-color: transparent;
  color: #58a6ff;
  text-decoration: none;
}

.article-container abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

.article-container b,
.article-container strong {
  font-weight: 600;
}

.article-container dfn {
  font-style: italic;
}

.article-container h1 {
  margin: 0.67em 0;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
}

.dark .article-container h1 {
  border-bottom: 1px solid #21262d;
}

.light .article-container h1 {
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.article-container mark {
  background-color: rgba(187, 128, 9, 0.15);
  color: #c9d1d9;
}

.article-container small {
  font-size: 90%;
}

.article-container sub,
.article-container sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.article-container sub {
  bottom: -0.25em;
}

.article-container sup {
  top: -0.5em;
}

.article-container img {
  border-style: none;
  width: 100%;
  box-sizing: content-box;
  background-color: #0d1117;
}

.article-container code,
.article-container kbd,
.article-container pre,
.article-container samp {
  font-family: monospace;
  font-size: 1em;
}

.article-container figure {
  margin: 1em 40px;
}

.article-container hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  border: 0;
}

.dark .article-container hr {
  border-bottom: 1px solid #21262d;
  background-color: #30363d;
}

.light .article-container hr {
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  background-color: #d0d7de;
}

.article-container input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.article-container [type="button"],
.article-container [type="reset"],
.article-container [type="submit"] {
  -webkit-appearance: button;
}

.article-container [type="checkbox"],
.article-container [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.article-container [type="number"]::-webkit-inner-spin-button,
.article-container [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.article-container [type="search"]::-webkit-search-cancel-button,
.article-container [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.article-container ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

.article-container ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.article-container a:hover {
  text-decoration: underline;
}

.article-container ::placeholder {
  color: #6e7681;
  opacity: 1;
}

.article-container hr::before {
  display: table;
  content: "";
}

.article-container hr::after {
  display: table;
  clear: both;
  content: "";
}

.article-container table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.article-container td,
.article-container th {
  padding: 0;
}

.article-container details summary {
  cursor: pointer;
}

.article-container details:not([open]) > *:not(summary) {
  display: none !important;
}

.article-container a:focus,
.article-container [role="button"]:focus,
.article-container input[type="radio"]:focus,
.article-container input[type="checkbox"]:focus {
  outline: 2px solid #58a6ff;
  outline-offset: -2px;
  box-shadow: none;
}

.article-container a:focus:not(:focus-visible),
.article-container [role="button"]:focus:not(:focus-visible),
.article-container input[type="radio"]:focus:not(:focus-visible),
.article-container input[type="checkbox"]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.article-container a:focus-visible,
.article-container [role="button"]:focus-visible,
.article-container input[type="radio"]:focus-visible,
.article-container input[type="checkbox"]:focus-visible {
  outline: 2px solid #58a6ff;
  outline-offset: -2px;
  box-shadow: none;
}

.article-container a:not([class]):focus,
.article-container a:not([class]):focus-visible,
.article-container input[type="radio"]:focus,
.article-container input[type="radio"]:focus-visible,
.article-container input[type="checkbox"]:focus,
.article-container input[type="checkbox"]:focus-visible {
  outline-offset: 0;
}

.article-container kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  line-height: 10px;
  color: #c9d1d9;
  vertical-align: middle;
  background-color: #161b22;
  border: solid 1px rgba(110, 118, 129, 0.4);
  border-bottom-color: rgba(110, 118, 129, 0.4);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(110, 118, 129, 0.4);
}

.article-container h1,
.article-container h2,
.article-container h3,
.article-container h4,
.article-container h5,
.article-container h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.article-container h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
}

.dark .article-container h2 {
  border-bottom: 1px solid #21262d;
}

.light .article-container h2 {
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.article-container h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.article-container h4 {
  font-weight: 600;
  font-size: 1em;
}

.article-container h5 {
  font-weight: 600;
  font-size: 0.875em;
}

.article-container h6 {
  font-weight: 600;
  font-size: 0.85em;
  color: #8b949e;
}

.article-container p {
  margin-top: 0;
  margin-bottom: 10px;
}

.article-container blockquote {
  margin: 0;
  padding: 0 1em;
}

.dark .article-container blockquote {
  color: #8b949e;
  border-left: 0.25em solid #30363d;
}

.light .article-container blockquote {
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
}

.article-container ul,
.article-container ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.article-container ol ol,
.article-container ul ol {
  list-style-type: lower-roman;
}

.article-container ul ul ol,
.article-container ul ol ol,
.article-container ol ul ol,
.article-container ol ol ol {
  list-style-type: lower-alpha;
}

.article-container dd {
  margin-left: 0;
}

.article-container tt,
.article-container code,
.article-container samp {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
}

.article-container pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
  word-wrap: normal;
}

.article-container .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.article-container input::-webkit-outer-spin-button,
.article-container input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.article-container::before {
  display: table;
  content: "";
}

.article-container::after {
  display: table;
  clear: both;
  content: "";
}

.article-container > *:first-child {
  margin-top: 0 !important;
}

.article-container > *:last-child {
  margin-bottom: 0 !important;
}

.article-container a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.article-container .absent {
  color: #f85149;
}

.article-container .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.article-container .anchor:focus {
  outline: none;
}

.article-container p,
.article-container blockquote,
.article-container ul,
.article-container ol,
.article-container dl,
.article-container table,
.article-container pre,
.article-container details {
  margin-top: 0;
  margin-bottom: 16px;
}

.article-container blockquote > :first-child {
  margin-top: 0;
}

.article-container blockquote > :last-child {
  margin-bottom: 0;
}

.article-container h1 .octicon-link,
.article-container h2 .octicon-link,
.article-container h3 .octicon-link,
.article-container h4 .octicon-link,
.article-container h5 .octicon-link,
.article-container h6 .octicon-link {
  color: #c9d1d9;
  vertical-align: middle;
  visibility: hidden;
}

.article-container h1:hover .anchor,
.article-container h2:hover .anchor,
.article-container h3:hover .anchor,
.article-container h4:hover .anchor,
.article-container h5:hover .anchor,
.article-container h6:hover .anchor {
  text-decoration: none;
}

.article-container h1:hover .anchor .octicon-link,
.article-container h2:hover .anchor .octicon-link,
.article-container h3:hover .anchor .octicon-link,
.article-container h4:hover .anchor .octicon-link,
.article-container h5:hover .anchor .octicon-link,
.article-container h6:hover .anchor .octicon-link {
  visibility: visible;
}

.article-container h1 tt,
.article-container h1 code,
.article-container h2 tt,
.article-container h2 code,
.article-container h3 tt,
.article-container h3 code,
.article-container h4 tt,
.article-container h4 code,
.article-container h5 tt,
.article-container h5 code,
.article-container h6 tt,
.article-container h6 code {
  padding: 0 0.2em;
  font-size: inherit;
}

.article-container summary h1,
.article-container summary h2,
.article-container summary h3,
.article-container summary h4,
.article-container summary h5,
.article-container summary h6 {
  display: inline-block;
}

.article-container summary h1 .anchor,
.article-container summary h2 .anchor,
.article-container summary h3 .anchor,
.article-container summary h4 .anchor,
.article-container summary h5 .anchor,
.article-container summary h6 .anchor {
  margin-left: -40px;
}

.article-container summary h1,
.article-container summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

.article-container ul.no-list,
.article-container ol.no-list {
  padding: 0;
  list-style-type: none;
}

.article-container ol[type="a"] {
  list-style-type: lower-alpha;
}

.article-container ol[type="A"] {
  list-style-type: upper-alpha;
}

.article-container ol[type="i"] {
  list-style-type: lower-roman;
}

.article-container ol[type="I"] {
  list-style-type: upper-roman;
}

.article-container ol[type="1"] {
  list-style-type: decimal;
}

.article-container div > ol:not([type]) {
  list-style-type: decimal;
}

.article-container ul ul,
.article-container ul ol,
.article-container ol ol,
.article-container ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.article-container li > p {
  margin-top: 16px;
}

.article-container li + li {
  margin-top: 0.25em;
}

.article-container dl {
  padding: 0;
}

.article-container dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.article-container dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.article-container table th {
  font-weight: 600;
}

.article-container table th,
.article-container table td {
  padding: 6px 13px;
  border: 1px solid #30363d;
}

.article-container table tr {
  background-color: #0d1117;
  border-top: 1px solid #21262d;
}

.article-container table tr:nth-child(2n) {
  background-color: #161b22;
}

.article-container table img {
  background-color: transparent;
}

.article-container img[align="right"] {
  padding-left: 20px;
}

.article-container img[align="left"] {
  padding-right: 20px;
}

.article-container .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.article-container span.frame {
  display: block;
  overflow: hidden;
}

.article-container span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #30363d;
}

.article-container span.frame span img {
  display: block;
  float: left;
}

.article-container span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #c9d1d9;
}

.article-container span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.article-container span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.article-container span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.article-container span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.article-container span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.article-container span.align-right span img {
  margin: 0;
  text-align: right;
}

.article-container span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.article-container span.float-left span {
  margin: 13px 0 0;
}

.article-container span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.article-container span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.article-container code,
.article-container tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(110, 118, 129, 0.4);
  border-radius: 6px;
}

.article-container code br,
.article-container tt br {
  display: none;
}

.article-container del code {
  text-decoration: inherit;
}

.article-container samp {
  font-size: 85%;
}

.article-container pre code {
  font-size: 100%;
}

.article-container pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.article-container .highlight {
  margin-bottom: 16px;
}

.article-container .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.article-container .highlight pre,
.article-container pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #161b22;
  border-radius: 6px;
}

.article-container pre code,
.article-container pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.article-container .csv-data td,
.article-container .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.article-container .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #0d1117;
  border: 0;
}

.article-container .csv-data tr {
  border-top: 0;
}

.article-container .csv-data th {
  font-weight: 600;
  background: #161b22;
  border-top: 0;
}

.article-container [data-footnote-ref]::before {
  content: "[";
}

.article-container [data-footnote-ref]::after {
  content: "]";
}

.article-container .footnotes {
  font-size: 12px;
  color: #8b949e;
  border-top: 1px solid #30363d;
}

.article-container .footnotes ol {
  padding-left: 16px;
}

.article-container .footnotes ol ul {
  display: inline-block;
  padding-left: 16px;
  margin-top: 16px;
}

.article-container .footnotes li {
  position: relative;
}

.article-container .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #1f6feb;
  border-radius: 6px;
}

.article-container .footnotes li:target {
  color: #c9d1d9;
}

.article-container .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.article-container .pl-c {
  color: #8b949e;
}

.article-container .pl-c1,
.article-container .pl-s .pl-v {
  color: #79c0ff;
}

.article-container .pl-e,
.article-container .pl-en {
  color: #d2a8ff;
}

.article-container .pl-smi,
.article-container .pl-s .pl-s1 {
  color: #c9d1d9;
}

.article-container .pl-ent {
  color: #7ee787;
}

.article-container .pl-k {
  color: #ff7b72;
}

.article-container .pl-s,
.article-container .pl-pds,
.article-container .pl-s .pl-pse .pl-s1,
.article-container .pl-sr,
.article-container .pl-sr .pl-cce,
.article-container .pl-sr .pl-sre,
.article-container .pl-sr .pl-sra {
  color: #a5d6ff;
}

.article-container .pl-v,
.article-container .pl-smw {
  color: #ffa657;
}

.article-container .pl-bu {
  color: #f85149;
}

.article-container .pl-ii {
  color: #f0f6fc;
  background-color: #8e1519;
}

.article-container .pl-c2 {
  color: #f0f6fc;
  background-color: #b62324;
}

.article-container .pl-sr .pl-cce {
  font-weight: bold;
  color: #7ee787;
}

.article-container .pl-ml {
  color: #f2cc60;
}

.article-container .pl-mh,
.article-container .pl-mh .pl-en,
.article-container .pl-ms {
  font-weight: bold;
  color: #1f6feb;
}

.article-container .pl-mi {
  font-style: italic;
  color: #c9d1d9;
}

.article-container .pl-mb {
  font-weight: bold;
  color: #c9d1d9;
}

.article-container .pl-md {
  color: #ffdcd7;
  background-color: #67060c;
}

.article-container .pl-mi1 {
  color: #aff5b4;
  background-color: #033a16;
}

.article-container .pl-mc {
  color: #ffdfb6;
  background-color: #5a1e02;
}

.article-container .pl-mi2 {
  color: #c9d1d9;
  background-color: #1158c7;
}

.article-container .pl-mdr {
  font-weight: bold;
  color: #d2a8ff;
}

.article-container .pl-ba {
  color: #8b949e;
}

.article-container .pl-sg {
  color: #484f58;
}

.article-container .pl-corl {
  text-decoration: underline;
  color: #a5d6ff;
}

.article-container g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.article-container g-emoji img {
  width: 1em;
  height: 1em;
}

.article-container .task-list-item {
  list-style-type: none;
}

.article-container .task-list-item label {
  font-weight: 400;
}

.article-container .task-list-item.enabled label {
  cursor: pointer;
}

.article-container .task-list-item + .task-list-item {
  margin-top: 4px;
}

.article-container .task-list-item .handle {
  display: none;
}

.article-container .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.4em;
  vertical-align: middle;
}

.article-container .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}

.article-container .contains-task-list {
  position: relative;
}

.article-container .contains-task-list:hover .task-list-item-convert-container,
.article-container
  .contains-task-list:focus-within
  .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

.article-container ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
